language: go
go:
  - 1.7.x
  - 1.8.x
sudo: false
install:
  - go get -v github.com/Masterminds/glide
  - glide install
  - go get -v github.com/alecthomas/gometalinter
  - gometalinter --install
script:
  - export PATH=$PATH:$HOME/gopath/bin
  - export GORACE="halt_on_error=1"
  - test -z "$(gometalinter --disable-all
      --enable=gofmt
      --enable=vet
      --enable=unconvert
      --deadline=10m $(glide novendor) | tee /dev/stderr)"
  - go test -v -race github.com/companyzero/zkc/blobshare
#after_success:
#    - go get -v github.com/mattn/goveralls
#    - goveralls -coverprofile=profile.cov -service=travis-ci
